#
# Copyright (C) 2025-present OpenRefactory, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
##

## macOS
.DS_Store/

## Eclipse
.classpath
.project
.settings/

## IntelliJ IDEA
/.idea/

## Maven build
target/
