<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
  ~ Copyright (C) 2025-present OpenRefactory, Inc.
  ~
  ~ SPDX-License-Identifier: Apache-2.0
  --><target name="java-callgraph-linux">
  <!--
    ~ This section defines the locations from which to resolve dependencies.
    -->
  <locations>
    <!-- P2 dependencies -->
    <!-- Maven dependencies -->
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/releases/2023-12/202312061001"/>
		  <unit id="org.eclipse.jdt.feature.group" version="3.19.300.v20231201-0110"/>
		  <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2300.v20231106-1826"/>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.json</groupId>
				  <artifactId>json</artifactId>
				  <version>20250517</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
  <!--
    ~ Defines the target environment for which the project is being built.
    ~
    ~ Eclipse/Tycho resolve platform-specific fragments accordingly.
    -->
  <environment>
    <os>linux</os>
    <arch>x86_64</arch>
    <ws>gtk</ws>
  </environment>
</target>